#creating tuple

In [ ]:
#empty tuple
t1=()
print(t1)

()

In [ ]:
#creating tuple with single item
t1=(3)
print(t1)
type(t1) #int
#so for creating single item tuple use
t1=(3,)
print(t1)
type(t1)

3
(3,)

tuple

In [ ]:
#homo
t1=(3,4,5,4,3)
print(t1)

(3, 4, 5, 4, 3)

In [ ]:
#hetero
t1=(3,4,5,'a',3,[1,2])
print(t1)

(3, 4, 5, 'a', 3, [1, 2])

In [ ]:
#tuple
t1=((3,4),5,4,3)
print(t1)

((3, 4), 5, 4, 3)

#accessing item

In [ ]:
#slicing
t1=(3,4,5)
print(t1[0:1])

(3,)

In [ ]:
#indexing
t1=(3,4,5)
print(t1[1])

4

#editing tuples

In [ ]:
t1=(3,4,5)
t1[1]=0
print(t1)
#tuples are immutable so values cant be changed similar to string

TypeError: 'tuple' object does not support item assignment

#adding items

In [ ]:
#not possible as immutable

#deleting items

In [ ]:
t1=(3,4,5)
del t1
print(t1)
#deleting an tuple is possible but deleting an item from tuple is not possible

NameError: name 't1' is not defined

#operations

In [ ]:
#+ and *
t1=(1,2,3)
t2=(2,3,4)
t1+t2
t1*2
#memebership
1 in t1
# iteration ( loop)
for i in t1:
  print (t1)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [ ]:
# we can use imp time to calculate the time taken by program to run
#use chatgpt to know more

In [ ]:
#similar we can mesaure space by using import sys

#why create tuple when have list

bcz. tuple can store items which are immutable , that you cant edit ,depends of task what to use list or tuple based on mutabllity

#special syntax

In [ ]:
#tuple unpacking
a,b,c=(1,2,3)
print (a,b,c)
#used to assign different tuples at at timne

1 2 3

In [ ]:
a,b=(1,2,3)
print (a,b)
#givees error as both side are not have similar no. of values

ValueError: too many values to unpack (expected 2)

In [ ]:
a,b,*others= (1,2,3,4)
print(a,b)
print(others)
#just for conveinace

1 2
[3, 4]

#swap values

In [ ]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

#zipping tuple

In [ ]:
a=(1,2,3)
b=(4,5,6)
zip(a,b)
list(zip(a,b))
#used to zip and get storage address and unzip by data type(zip(  )) to get output

[(1, 4), (2, 5), (3, 6)]

##sets

#creating set

In [ ]:
#empty set
#s={} creates a dictionary data type
s=set()
 # so using explicit cinversion
print(s)

set()

In [ ]:
#1D AND 2D SETS
s={1,2,3}
print(s)
#2d sets not possible as sets cant contain mutable data type and sets are mutable

{1, 2, 3}

In [ ]:
#hetero
s1={1,2,3,True,(1,2)}
print(s1)
# true is not printed as 1 is also considered true and no duplicate is allowed so.
#list are immtabel

{3, 1, 2, (1, 2)}

3accessing sets

In [ ]:
#not allowed as sets are unrdered so you cant print by giving indexs or slicing

editing items

In [ ]:
#cant be done as no fixed order so kaise pta chlega kyaa bdl rhe ho

adding items

In [ ]:
# add____ used to add single item
s1={1,2}
s1.add(6)
print(s1)

{1, 2, 6}

In [ ]:
#update ___ used to add multiple items
s1={1,2}
s1.update([4,5,6])
print(s1)

{1, 2, 4, 5, 6}

deleting items

In [ ]:
#del
#deletes entire set
s1={1,2,3}
print(s)
del s
print(s)

{1, 2, 3}

NameError: name 's' is not defined

In [ ]:
# discard
#ignore the number if present or not
s1={1,2,3}
s1.discard(3)
print(s1)

{1, 2}

In [ ]:
#remove

#ignore the number only if present otherwise gives error
s1={1,2,3}
s1.remove(2)
print(s1)

{1, 3}

In [ ]:
#pop
#used to remove random values
s1={1,2,3}
s1.pop()
print(s1)

{2, 3}

In [ ]:
#clear
#used to make the set clear i.e empty
s1={1,2,3}
s1.clear()
print(s1)

set()

#operation

In [ ]:
s1={1,2,3,4}
s2={5,6,7,8}

#union (|)
s1|s2

#intersection (&)
s1 & s2

#difference(-)
s1-s2
s2-s1

#symmetric diference (^)  __ gives uncommon elements from sets
s1^s2

#mwmwbership
7 in s2

#iteratrion
for i in s1:
  print (i)

1
2
3
4

##frozen sets
 immutable version of sets

In [ ]:
#create frozenset
f= frozenset([1,2])
print(f)

frozenset({1, 2})

# what works ?
all the read functions of set
 # what not?
 all editing functions

#when to use
when want only to read the values

#2D frozen sets

In [ ]:
#possible because frozensets are immmutable and immutable are allowed for makeing 2D

#set comprehension

In [ ]:
{i for i in range (1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## DICTIONARY

CREATING DICTIONARY

In [1]:
#empty dictionary
d={}
d

{}

In [2]:
#1D dictionary
d={'name':'harshit','college':'bbau'}
d

{'name': 'harshit', 'college': 'bbau'}

In [3]:
#with mixed keys
d={'1':'harshit','(1,2,3)':'bbau'}
d
#list and sets cant be used as they are mutable

{'1': 'harshit', '(1,2,3)': 'bbau'}

In [27]:
#2D dictionary
s={'name':'harshit',
   'college':'bbau',
   'sem':4,
   'sub':{
       'dsa':1 , 'maths':2,'mech':3
   }
   }
s

{'name': 'harshit',
 'college': 'bbau',
 'sem': 4,
 'sub': {'dsa': 1, 'maths': 2, 'mech': 3}}

In [8]:
#using dict type conversion
d=dict([(1,2),(2,3)])
d

{1: 2, 2: 3}

In [10]:
#duplicate keys not allowed
d={'name':'harshit','name':'ram'}
d

{'name': 'ram'}

In [12]:
#no mutable keys are allowed
d={'name':'harshit',[1,2,3]:3}
d

TypeError: unhashable type: 'list'

acessing items

In [31]:
#index
d={'name':'harshit','college':'bbau'}
# d[0]  gives error as indexing not support but
d['name']  # usaing  key values to print inside items work

#for 2d dict
s['sub']['maths']

#using get
d.get('name') # use to get value by help of keys

2

In [32]:
# adding key value pair
d['gender']='male'
d

#for 2d dict
s['sub']['hin']=4
s

{'name': 'harshit',
 'college': 'bbau',
 'sem': 4,
 'sub': {'dsa': 1, 'maths': 2, 'mech': 3, 'hin': 4}}

removing key item pair

In [26]:
d={'name': 'harshit', 'college': 'bbau', 'gender': 'male'}

#pop
d.pop('gender')
print(d)

#popitem__ deletes last key value pair
d.popitem()
print(d)

#del
#del d
#del s['sub']['maths']
#print(d)

# clear
d.clear()
print (d)

{'name': 'harshit', 'college': 'bbau'}
{'name': 'harshit'}
{}

editing items

In [33]:
s['college']= 'no iit'
s

{'name': 'harshit',
 'college': 'no iit',
 'sem': 4,
 'sub': {'dsa': 1, 'maths': 2, 'mech': 3, 'hin': 4}}

operations

In [35]:
#membership

'name' in #----true as membership operates on key
'harshit' in s # harshit not a key

False

In [37]:
for i in d:
  print(i,d[i])

name harshit
college bbau
gender male

list comprehension

In [38]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [39]:
#using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}
#uses  key ,value and prints key, value*0.62

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [40]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [41]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [42]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}