#OPERATORS

In [ ]:
#ARITHMETIC
print(5/6)
print(5//6)
print(5%6)
print(5**2)

0.8333333333333334
0
5
25

In [ ]:
#LOGICAL
print(10 and 14)
print(14 or 11)
print(not 10)
# 1 and 90 gives 90

14
14
False

In [ ]:
#MEMEBERSHIP
#in or not in
print('D' not in 'Delhi')
print('D' in 'Delhi')

False
True

In [ ]:
#PROGRAM
num=int(input('num'))
a=num%10
b=(num//10)%10
c=num//100
print(a,b,c)
print(a+b+c)

num651
1 5 6
12

## if else

In [ ]:
if 2>3 :
 print('false')
else:
 print ('teur')

teur

In [ ]:
#min of 3 numbers
a=int(input('a'))
b=int(input('b'))
c=int(input('c'))
if a<b and a<c:
  print(a,'is min')
elif b<c and b<a:
  print(b,'is min')
else :
  print(c,'is min')

a1
b2
c3
1 is min

#module

In [ ]:
#math
import math
math.sqrt(196)

14.0

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import random
print(random.randint(1,3))

2

In [ ]:
import datetime
print(datetime.datetime.now())

2025-06-21 10:43:44.174633

In [ ]:
##help('modules')
##used to get all modules in python

#Guessing Game

In [ ]:
import random
jack=random.randint(1,10)
num=int(input('enter your num'))
count=1
while num!=jack:
  print('Try another')
  if(num>jack):
    print('Try lower number')
  elif(num<jack):
    print('Try higher number')
  num=int(input('enter your num'))
  count+=1
print('Congrats you won the lottery')
print('Jackpot number is',jack)
print('number of attempts is',count)

enter your num2
Try another
Try higher number
enter your num6
Try another
Try higher number
enter your num9
Congrats you won the lottery
Jackpot number is 9
number of attempts is 3

# for loop

In [ ]:
for i in range (1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (10,0,-2):
  print(i)
  #decresingh

10
8
6
4
2

In [ ]:
for i in 'DElhi':
  print(i)

D
E
l
h
i

In [ ]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [ ]:
#ques
curr= 10000
for i in range(10,0,-1):
  print (i,int(curr))

  curr= 0.9*curr

  ##current pop is 10000 and decreases by 10 percent print past 10 years population

10 10000
9 9000
8 8100
7 7290
6 6561
5 5904
4 5314
3 4782
2 4304
1 3874