In [ ]:
L=[1,2,3]
print(id(1))
print(id(L[0]))
#print address of item

10757736
10757736

# #creating a list

In [ ]:
#empty list
print([])

[]

In [ ]:
print([1,2,3,4])
#1D and Homogeneous list as all items are of same data type

[1, 2, 3, 4]

In [ ]:
#2D List
print([1,2,3,4,[5,6]])
#heterogeneous list as list and int presenet

[1, 2, 3, 4, [5, 6]]

In [ ]:
print([[[1,2],[3,4]],[5]])
#3D list

[[[1, 2], [3, 4]], [5]]

In [ ]:
#using type conversiuon
print( list('hello'))

['h', 'e', 'l', 'l', 'o']

## acess item

In [ ]:
L=[1,2]
print(L[1])
print(L[-1])

2
2

In [ ]:
L=[1,3,[4,5]]
print(L[-1])
print(L[-1][0])
print(L[-1][1])
print(L[-1][-1])

[4, 5]
4
5
5

In [ ]:
L=[[[1,2],[3,4]],[5]]
print(L[0][1][1])

4

In [ ]:
#SLICING
L=[1,2,3,4]
print(L[1:])

[2, 3, 4]

## adding items to list

In [ ]:
#append
#used to add single item at end of list
L=[[[1,2],[3,4]],[5]]
L.append(6)
print(L)

[[[1, 2], [3, 4]], [5], 6]

In [ ]:
#extend
#used to add multiple item at list end
L=[[[1,2],[3,4]],[5]]
L.extend([7,8,9])
print(L)

[[[1, 2], [3, 4]], [5], 7, 8, 9]

In [ ]:
#APPEND ALWAYS CONVERT THE GIVEN INTO ONE THEN ADDS
#EXTEND CONVERTS LESS INTO MORE

In [ ]:
#insert
#used to insert item between items
#tell index of insertion,what to insert
L=[[[1,2],[3,4]],[5]]
L.insert(1,100)
print(L)

[[[1, 2], [3, 4]], 100, [5]]

## editing items

In [ ]:
#by indexing
L=[1,2,3,4]
L[1]=200
print(L)

[1, 200, 3, 4]

In [ ]:
#by slicng
L=[1,2,3,4]
L[1:3]=100,200,200
print(L)

[1, 100, 200, 200, 4]

## deleting items

#del

In [ ]:

L=[1,2,3,4]
print(L)
#INDEXING
del L[-1]
print(L)
# SLICING
del L[1:3]
print(L)

[1, 2, 3, 4]
[1, 2, 3]
[1]

#remove

In [ ]:
L=[1,2,3,4]
L.remove(4)
print(L)
#REMOVES THE ITEM FROM THE LIST

[1, 2, 3]

#POP

In [ ]:
L=[1,2,3,4]
L.pop()
print(L)
L.pop(1)
print(L)
#REMOVES THE ITEM FROM THE LAST LIST IF NOT MENTIONED THE INDEX
#OTHERWIAE REMOVES THE MENTIONED INDEX

[1, 2, 3]
[1, 3]

#CLEAR

In [ ]:
L=[1,2,3,4]
L.clear()
print(L)
#ONLY USED FOR REMOVING THE THE ITEMS OF THE LIST MAKING IT EMPTY
L.clear(1)
print(L)

[]

TypeError: list.clear() takes no arguments (1 given)

## LIST COMPREHENSION

In [ ]:
#scaler multiplication on a vector
#method 1
v=[1,2,3]
s=2
x=[]
for i in v:
 x.append(s*i)
print(x)


#method 2 (list compre)
[s*i for i in v]

[2, 4, 6]

[2, 4, 6]

In [ ]:
#add squares
L=[1,2,3]
x=[]
[i**2 for i in L]

[1, 4, 9]

In [1]:
#print all no,divisible by 5 between 1 to 50
[ i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [5]:
#nested if list comprehension
#add new list i if my fru item present in bas and startts with a
bas=['app','ban','man']
myfru=['app','gua','straw']
[i for i in myfru if i in bas if i.startswith('a')]

['app']

In [6]:
#print(3,3) matrix using list compreh
[[i*j for i in range(1,4) ] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [8]:
#cartesian product
L1=[1,2]
L2=[1,2,3]
[[i*j for i in L1] for j in L2]

[[1, 2], [2, 4], [3, 6]]

In [10]:
L1=[1,2,print,type]
print(L1)

[1, 2, <built-in function print>, <class 'type'>]

#disadvantage

In [11]:
#risky python list
#to avoid this a.copy in b
A=[1,2]
b=A
print(A)
print(b)
A.append(4)
print(A)
print(b)
#as python are mutable stores lists at same place if putted a=b

[1, 2]
[1, 2]
[1, 2, 4]
[1, 2, 4]