# 1/1! + 2/2! +3/3!+....

In [ ]:
num=int(input('num'))
fact=1
result=0
for i in range(1,num+1):
  fact=fact*i
  result=result+i/fact
print(result)

num2
2.0

# Nested LOops

## 1.

In [ ]:
# row =n
#row no. ia i nd column no is j
n=int(input('n'))
for i in range(1,n+1):
  for j in range (1,i+1):
    print('*', end=' ')
  print( )

n5
*
* *
* * *
* * * *
* * * * *

2.

In [11]:
n=int(input('n'))
for i in range(1,n+1):
  for j in range (1,i+1):
    print(j,end='')
  for k in range (i-1,0,-1):
      print(k,end='')
  print( )

n5
1
121
12321
1234321
123454321

##string

#Creating string

In [5]:
s='Hello'
s="hello"
#double inverted comma helps in putting the single inverted comma in the string , without giving error
s='''hello'''
#triple inverted comma used for multi line string
s="""hello"""
s=str('hello')
#type conversion string
print (s)

hello

#acessing substrings from strings

In [7]:
#positive indexing : assign 0 to +ve numbers
s="hello"
print(s[4])
#print(s[7]) gives error as there are no index greater than 4

o

In [ ]:
#negative indexing :
s="hello"
print(s[-2])
#assign first character as zero index and then reverse as negative

In [14]:
#slicing :used to print desired number of strings index at once
s="hello"
print(s[0:3])
print(s[0:])

print(s[:3]) #automatic assign first vacant as zero and last vacant  as end
#[1:3]gives 3 is excluded and 1 is includeed

print(s[0:3:2])
#for jumping from indexs start :end:kitne ka jump

#print(s[0:3:-2]) gives error as in negative index jump first index>second index

hel
hello
hel
hl

In [16]:
print(s[-1:-6:-1])
#reversing with -ve indexing

olleh

#editing string

In [17]:
s='hello'
s[0]= 'H'
print(s)
#pythong is unchangeable stringers

TypeError: 'str' object does not support item assignment

#deleting a string

In [19]:
s='hello'
del s
#used to delete the string :del
print(s)

NameError: name 's' is not defined

In [20]:
s='hello'
del s[0:5]
#python are immutable hence changes to strings cant be possible , you can only delete it the wholw string
print(s)

TypeError: 'str' object does not support item deletion

# # operation on stringd

In [22]:
#arithmetic
print('a'+'b')
print('a'*3)
#only these 2 in arithmetic

ab
aaa

In [24]:
#relational
'delhi'!= 'Delhi'
'mumbai'>'pune'
#ASCII code is compared (lexographically)

False

#logical

In [30]:
#LOGICAL
#python takes empty strings strings as false and filled strings as true
'' and 'hel'

''

In [31]:
' ' and 'hel'
#first string has space

'hel'

In [29]:
"" or 'hel'

'hel'

In [32]:
" " or 'hel'
#first string has space

' '

In [33]:
'hel' and ' world'
# and ke case me python ko dusre string ke paas jaana pd rha hai kyuki
#pehle waala true hai to result dusre waale string pr depend krega
# isliye second string print ho rha

' world'

In [34]:
'hel' or ' world'
#pehla string true hai to "or " me 1 or 0 ya 1 or 1 1 hota hai isliye
#aage check krne ke jrrurt hi nhi isliye first string result bn gyi

'hel'

In [35]:
not'' #emptyy is false so

True

In [36]:
not'hello'

False

#loops on string

In [39]:
for i in range (3):
  print ('hel')

hel
hel
hel

In [40]:
for i in 'delhi':
  print('pune')
  #delhi has 5 char

pune
pune
pune
pune
pune

In [43]:
#MEMBERSHIP
#checking if har present in string
'd' in 'delhi'

True